annotated-types==0.8.0
attrs==26.1.0
beautifulsoup4==4.15.0
btrfsutil==7.1
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==49.0.0
cupshelpers==1.0
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
filelock==3.29.3
Glances==4.5.5
idna==3.18
Jinja2==3.1.6
MarkupSafe==3.0.3
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
orjson==3.11.9
packaging==26.2
pillow==12.3.0
psutil==7.2.2
pyaml==26.7.0
pycairo==1.29.0
pycparser==3.0
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
PyGObject==3.56.3
pymupdf==1.28.0
PyQt5==5.15.11
PyQt5_sip==12.19.0
PyQt6==6.11.0
PyQt6_sip==13.12.0
PyYAML==6.0.3
Reflector==2023.6.28.0.36.1
reportlab==4.4.10
requests==2.34.2
shtab==1.9.2
smbus==1.1
soupsieve==2.9.1
TBB @ file:///build/onetbb/src/build/python/python_build
termcolor==3.3.0
tldr==3.4.4
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
VapourSynth==77
wheel==0.47.0
